.userTable{
    width: 100%;
}
.userTable td{
    padding: 3px;
}
.userTable th {
    padding: 3px;
    text-align: left;
    background-color: #5c9ccc;
    color: white;
}
.userTable tr, th{
    text-align: left;
}
.userTable tr:nth-child(even){
    background-color: #dce4f9;
}

a:hover{
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
    color: black;
}